body {
    font-family: 'Open Sans', sans-serif;
    background: transparent!important;
}

.noUi-connect {
    background: #162f5c !important;
    /*background: #F25C05 !important;*/
}

.tooltip {
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    display: block;
    opacity: .9;
    color: #fff;
    background: #162f5c;
    /*background: #F25C05;*/
    padding: 2px 4px;
    margin-top: -22px;
    width: 40px;
    text-align: center;
    margin-left: -4px;
}

a:link,
a:visited,
a:hover {
    color: #162f5c;
}

a:active {
    color: #3661b0;
}

.footer a:visited {
    color: #3661b0;
}

.footer a:active {
    color: #162f5c;
}

.center-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.center-block.trim {
    max-width: 480px;
    /*max-width: 540px;*/
}

.slider-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #969696;
    ;
}

.slider-label {
    display: block;
    padding-bottom: 2px;
}

.navbar-default {
    background: #fff !important;
    border: none;
    font-family: 'Yanone Kaffeesatz', 'Open Sans', sans-serif;
    font-size: 32px;
    color: #ffffff;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    height: 30px!important;*/
}

.navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 40px;
    border: 1px solid transparent;
}

.panel {
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 285px;
    margin: 4px;
    background-color: black;
    color: white;
}

.overlay {
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    position:absolute;
    width:100%;
    height:100%;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.panel:hover {
    border-radius: 4px;
    border: 1px solid #112d50;
}

.panel:hover .overlay {
    opacity: 1;
}

.panel-default>.panel-body {
    padding: 0px 8px 8px 2px;
    text-align: center;
}

.panel-body h3 {
    padding-left: 16px;
    font-size: 18px;
    margin: 10px 7px 7px 7px;
}

.panel-body p {
    margin: 10px;
    padding-left: 28px;
    line-height: 1.2em;
}

.panel-body p img {
    margin-left: -20px !important;
}

.tag:not(:last-child)::after {
    content: ", ";
    text-decoration: none;
    color: #000;
    display: inline-block;
    white-space: pre;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.padding {
    padding: 4px;
}

.footer {
    margin-top: 50px;
    padding-top: 12px;
    padding-bottom: 8px;
    border-top: solid 1px #EEE;
    color: #969696;
}

.img-wrapper {
    margin-left: 8px;
    float: center;
    background-repeat: no-repeat;
}

.icon {
    height: 16px !important;
    margin: 0 !important;
    margin-top: 0px !important;
    margin-right: 4px !important;
    opacity: 1;
}

.level {
    margin: -2px 0 !important;
    opacity: 1;
    height: 28px;
    width: 28px;
    background: #162f5c;
    border-radius: 14px;
    display: inline-block;
    color: #ffffff;
    padding-top: 7px;
    font-size: 12px;
    float: right;
    padding-left: 0 !important;
}

.search-wrapper {
    position: relative;
}

.search-wrapper button {
    position: absolute;
    right: 0px;
    top: 2px;
}

textarea:focus,
input[type="search"]:focus {
    border-color: #BBB;
    box-shadow: none;
    outline: 0 none;
}

.btn-link {
    font-weight: 400;
    color: #969696;
    border-radius: 0;
    border: none !important;
}

.btn:focus,
.btn:active {
    outline: solid 1px #F25C05 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #F25C05;
}

.btn-link:focus,
.btn-link:active {
    outline: none !important;
    box-shadow: none;
}

.btn-link:hover {
    color: #333333;
}

		select {
			background-color: white;
			color: #333;
			border: 1px solid #ddd;
			font-size: 12px;
		}
		